<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head"></head>
<link th:href="@{/css/admin-signin.css}" rel="stylesheet">
<body>
    <div class="adminLandingContainer">
        <div class="adminIMG">
            <img th:src="@{/images/church_logo.jpg}">
        </div>
        <div class="adminForm">
            <form th:action="@{/admin/sign-in}" th:method="post" th:object="${user}">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input th:field="*{username}"type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"/>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input th:field="*{password}" type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>



<div th:replace="fragments :: scripts"></div>
</body>
</html>